---
import Layout_alt from '../layouts/Layout_alt.astro';
---
<Layout_alt title="404">
    <main class="flex justify-center ">
        <img src="404_1-10.svg" alt="" class="h-64 mt-40 md:h-96 md:mt-64">
    </main>
</Layout_alt>