---
import Layout from '../layouts/Layout.astro';
---
<Layout alt_bg title="404">
    <main class="flex flex-col justify-center items-center">
        <img src="404_1-10.svg" alt="" class="h-64 mt-40 md:h-96 md:mt-64">
        <p class="text-lg font-light">Esta pagina no existe :(</p>
        <a href="/" class="text-lg font-semibold underline mt-5">Volver</a>
    </main>
</Layout>