---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Album">
    <main class="flex flex-col items-center mx-8 md:mx-24 xl:mx-48">
        <div class="flex mt-40 gap-5">
            <div class="w-96 ">
                <img src="src/assets/happier_than_ever.jpg" alt="" class="">
            </div>
            <div class="w-96">
                <img src="src/assets/happier_than_ever.jpg" alt="" class="">
            </div>
        </div>
    </main>
</Layout>