---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Logo from "../assets/logo.png"; 
// Supports weights 100-900
---
<Layout title="Port Treat">
    <main class="flex flex-col items-center mx-8 md:mx-24 xl:mx-48">
        <div id="inicio"> 
            <Image src={Logo} alt="PortTreat Logo" class=" mt-14 lg:mt-32 w-64 md:w-[23rem] transition-all animate-port-logo" id="inicio" loading="eager">
            </div>
        <h1 class="text-base md:text-xl mt-5 font-light">Diseño de cuadros y posters por encargo.</h1>

        <h2 class=" text-2xl font-bold w-full mt-12 lg:mt-28 mb-5 lg:mb-10" id="pre">Pre Diseñados</h2>
       
        <div class=" grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 w-full justify-items-center gap-10">
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
            <Card album="Happier Than Ever" artista="Billie Eilish" href="#" img='/happier_than_ever.jpg'/>
        </div>
        
        <h2 class=" text-2xl font-bold w-full mt-28 mb-10" id="personalizados">Personalizados</h2>
        <div class="flex md:w-4/5 lg:w-3/5 xl:w-1/2 gap-10 self-start">
            <Card album="Personalizado 1" artista="Canciones" href="#" img='/personalizado_1.png'/>
            <Card album="Personalizado 1" artista="Info" href="#" img='/personalizado_2.png'/>
        </div>

    </main>
</Layout>