---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';

// import Card from '../components/Card.astro';
// import { Button } from "@/components/ui/button"
import { Accordion } from "@/components/MyAccordion";

const accordionData = [
  {
    title: "Is it accessible?",
    description: "Yes. It adheres to the WAI-ARIA design pattern.",
  },
  {
    title: "Is it styled?",
    description:
      "Yes. It comes with default styles that matches the other components' aesthetic.",
  },
  {	
    title: "Is it animated?",
    description:
      "Yes. It's animated by default, but you can disable it if you prefer.",
  },
];
---

<Layout title="Welcome to Astro.">
	<main class="mx-48">
		<!-- IMAGENES -->
		<div class="flex w-full gap-3 mt-16">
			<!-- LOGO -->
			<div class=" flex flex-col justify-center w-4/5">
				<img src="../../public/icono-landing.png" alt="ejemplos de proyectos en formato poster claro y oscuro">
			</div>
			<!-- IMAGEN EJEMPLOS -->
			<div class=" w-full">
				<img src="../../public/posters-ejemplos.png" alt="logo de la marca">
			</div>
		</div>
		<!-- INTRODUCCION -->
		<section>
			
			<p class="text-base text-center text-neutral-300">PortTreat es un emprendimiento apasionado por la música, dedicado a crear posters y cuadros inspirados en álbumes y canciones de diversos artistas musicales.</p>	
			<p class="text-base text-center text-neutral-300">Nuestro objetivo es permitir que cada persona tenga un pedacito de la música que más le gusta en su hogar.</p>
		</section> 
		<!-- FAQ -->
		<section id="FAQ" class="mt-44">
			<h2 class="text-4xl font-bold text-orange-400  font-poppins">FAQ <span class="text-neutral-50">(preguntas precuentes)</span></h2>
			<div class="text-neutral-50 mx-60 mt-16">
				<Accordion data={accordionData}  client:load />		
			</div>
			
		</section>

	</main>
</Layout>

<!-- <style>
	main {
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	 .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	} 
</style> -->
