---
interface Props {
	album: string;
	artista: string;
	href: string;
	img: string;
}

const { href, album, artista, img } = Astro.props;
---

<a class="group w-full" href="#">
	<div class="bg-neutral-50 w-full aspect-w-5 aspect-h-7 rounded-sm flex justify-center items-center relative overflow-hidden p-[5%] mb-3">
		<div class="z-10 transition-all bg-transparent group-hover:bg-black/50 w-full h-full absolute flex justify-center items-center">
			<p class="transition-all text-transparent group-hover:border group-hover:text-neutral-50 rounded-md px-4 pb-[2px]">ver</p>
		</div>
        <img class="object-cover w-full h-full shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.50)]" src={img} alt={`Poster ${artista}`} height="3508" width="2481"/>
	</div>
    <p class="text-2xl  font-extrabold">{album}</p>
	<p class="text-lg font-light">{artista}</p>
</a>