---
interface Props {
	album: string;
	artista: string;
	href: string;
	img: string;
}

const { href, album, artista, img } = Astro.props;

import { Image } from 'astro:assets';
import albumImg from "../assets/happier_than_ever.png";
---

<a class="group w-full" href="#">
	<p class="text-sm sm:text-base font-medium">{album}</p>
	<p class="text-sm sm:text-base font-light">{artista}</p>
	<div class="bg-neutral-300 w-full aspect-w-5 aspect-h-7 rounded-sm flex justify-center items-center relative overflow-hidden p-[10%]">
		<Image class="object-cover w-full h-full shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)]" src={albumImg} alt={`Poster ${artista}`}>
		<div class="transition-all bg-transparent group-hover:bg-black/50 w-full h-full absolute flex justify-center items-center">
			<p class="transition-all text-transparent group-hover:border group-hover:text-neutral-50 rounded-md px-4 pb-[2px]">ver</p>
		</div>
	</div>
</a>
