---
interface Props {
	album: string;
	artista: string;
	href: string;
	img: string;
}

const { href, album, artista, img } = Astro.props;
---

<a class=" group w-52" href={href}>
	<p class=" font-medium">{album}</p>
	<p class=" font-light">{artista}</p>
	<div class=" bg-neutral-300 w-52 h-64 rounded-sm flex justify-center items-center relative">
		<img class=" w-40 h-52" src={img} alt="poster" >
		<div class=" transition-all  bg-transparent group-hover:bg-black/50 w-full h-full absolute flex justify-center items-center">
			<p class=" transition-all  text-transparent group-hover:border group-hover:text-neutral-50 rounded-md px-4 pb-[2px]">ver</p>
		</div>
	</div>
</a>