<footer>
    <svg width="1919" height="497" viewBox="0 0 1919 497" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_16_96)">
        <path d="M0 198.8L106.667 223.65C213.333 248.5 426.667 298.2 640 331.367C853.333 364.129 1066.67 381.372 1280 389.283C1493.33 397.6 1706.67 397.6 1920 356.217C2133.33 314.429 2346.67 232.272 2560 165.633C2773.33 99.4001 2986.67 49.7001 3200 91.083C3413.33 132.872 3626.67 264.729 3840 323.05C4053.33 381.372 4266.67 364.129 4480 323.05C4693.33 281.972 4906.67 215.029 5120 165.633C5333.33 115.629 5546.67 83.1716 5760 99.4001C5973.33 115.629 6186.67 182.572 6400 240.183C6613.33 298.2 6826.67 347.9 7040 347.9C7253.33 347.9 7466.67 298.2 7680 240.183C7893.33 182.572 8106.67 115.629 8320 124.25C8533.33 132.872 8746.67 215.029 8960 207.117C9173.33 198.8 9386.67 99.4001 9600 66.233C9813.33 33.4716 10026.7 65.9287 10240 66.233C10453.3 65.9287 10666.7 33.4716 10880 66.233C11093.3 99.4001 11306.7 198.8 11520 256.817C11733.3 314.429 11946.7 331.672 12160 331.367C12373.3 331.672 12586.7 314.429 12800 273.35C13013.3 232.272 13226.7 165.329 13440 124.25C13653.3 83.1716 13866.7 65.9287 14080 107.717C14293.3 149.1 14506.7 248.5 14720 281.667C14933.3 314.429 15146.7 281.972 15253.3 265.033L15360 248.5V497H15253.3C15146.7 497 14933.3 497 14720 497C14506.7 497 14293.3 497 14080 497C13866.7 497 13653.3 497 13440 497C13226.7 497 13013.3 497 12800 497C12586.7 497 12373.3 497 12160 497C11946.7 497 11733.3 497 11520 497C11306.7 497 11093.3 497 10880 497C10666.7 497 10453.3 497 10240 497C10026.7 497 9813.33 497 9600 497C9386.67 497 9173.33 497 8960 497C8746.67 497 8533.33 497 8320 497C8106.67 497 7893.33 497 7680 497C7466.67 497 7253.33 497 7040 497C6826.67 497 6613.33 497 6400 497C6186.67 497 5973.33 497 5760 497C5546.67 497 5333.33 497 5120 497C4906.67 497 4693.33 497 4480 497C4266.67 497 4053.33 497 3840 497C3626.67 497 3413.33 497 3200 497C2986.67 497 2773.33 497 2560 497C2346.67 497 2133.33 497 1920 497C1706.67 497 1493.33 497 1280 497C1066.67 497 853.333 497 640 497C426.667 497 213.333 497 106.667 497H0V198.8Z" fill="url(#paint0_linear_16_96)"/>
        <path opacity="0.9" d="M0 447.3H106.667C213.333 447.3 426.667 447.3 640 430.767C853.333 413.829 1066.67 381.371 1280 323.05C1493.33 264.729 1706.67 182.571 1920 190.483C2133.33 198.8 2346.67 298.2 2560 356.217C2773.33 413.829 2986.67 431.071 3200 372.75C3413.33 314.429 3626.67 182.571 3840 140.783C4053.33 99.4001 4266.67 149.1 4480 190.483C4693.33 232.271 4906.67 264.729 5120 240.183C5333.33 215.029 5546.67 132.871 5760 124.25C5973.33 115.629 6186.67 182.571 6400 215.333C6613.33 248.5 6826.67 248.5 7040 231.967C7253.33 215.029 7466.67 182.571 7680 173.95C7893.33 165.329 8106.67 182.571 8320 157.417C8533.33 132.871 8746.67 65.9286 8960 74.5501C9173.33 83.1715 9386.67 165.329 9600 231.967C9813.33 298.2 10026.7 347.9 10240 323.05C10453.3 298.2 10666.7 198.8 10880 165.633C11093.3 132.871 11306.7 165.329 11520 173.95C11733.3 182.571 11946.7 165.329 12160 207.117C12373.3 248.5 12586.7 347.9 12800 339.583C13013.3 331.671 13226.7 215.029 13440 157.417C13653.3 99.4001 13866.7 99.4001 14080 99.4001C14293.3 99.4001 14506.7 99.4001 14720 115.933C14933.3 132.871 15146.7 165.329 15253.3 182.267L15360 198.8V497H15253.3C15146.7 497 14933.3 497 14720 497C14506.7 497 14293.3 497 14080 497C13866.7 497 13653.3 497 13440 497C13226.7 497 13013.3 497 12800 497C12586.7 497 12373.3 497 12160 497C11946.7 497 11733.3 497 11520 497C11306.7 497 11093.3 497 10880 497C10666.7 497 10453.3 497 10240 497C10026.7 497 9813.33 497 9600 497C9386.67 497 9173.33 497 8960 497C8746.67 497 8533.33 497 8320 497C8106.67 497 7893.33 497 7680 497C7466.67 497 7253.33 497 7040 497C6826.67 497 6613.33 497 6400 497C6186.67 497 5973.33 497 5760 497C5546.67 497 5333.33 497 5120 497C4906.67 497 4693.33 497 4480 497C4266.67 497 4053.33 497 3840 497C3626.67 497 3413.33 497 3200 497C2986.67 497 2773.33 497 2560 497C2346.67 497 2133.33 497 1920 497C1706.67 497 1493.33 497 1280 497C1066.67 497 853.333 497 640 497C426.667 497 213.333 497 106.667 497H0V447.3Z" fill="url(#paint1_linear_16_96)"/>
        <path opacity="0.8" d="M0 198.8L106.667 190.483C213.333 182.571 426.667 165.329 640 173.95C853.333 182.571 1066.67 215.029 1280 223.65C1493.33 232.271 1706.67 217.529 1920 251C2133.33 284.471 2346.67 364.129 2560 331.367C2773.33 298.2 2986.67 149.1 3200 91.0828C3413.33 33.4714 3626.67 65.9285 3840 132.567C4053.33 198.8 4266.67 298.2 4480 331.367C4693.33 364.129 4906.67 331.671 5120 273.35C5333.33 215.029 5546.67 132.871 5760 149.1C5973.33 165.329 6186.67 281.971 6400 323.05C6613.33 364.129 6826.67 331.671 7040 289.883C7253.33 248.5 7466.67 198.8 7680 223.65C7893.33 248.5 8106.67 347.9 8320 339.583C8533.33 331.671 8746.67 215.029 8960 149.1C9173.33 83.1714 9386.67 65.9285 9600 99.4C9813.33 132.871 10026.7 215.029 10240 215.333C10453.3 215.029 10666.7 132.871 10880 107.717C11093.3 83.1714 11306.7 115.629 11520 140.783C11733.3 165.329 11946.7 182.571 12160 207.117C12373.3 232.271 12586.7 264.729 12800 289.883C13013.3 314.429 13226.7 331.671 13440 306.517C13653.3 281.971 13866.7 215.029 14080 231.967C14293.3 248.5 14506.7 347.9 14720 397.6C14933.3 447.3 15146.7 447.3 15253.3 447.3H15360V497H15253.3C15146.7 497 14933.3 497 14720 497C14506.7 497 14293.3 497 14080 497C13866.7 497 13653.3 497 13440 497C13226.7 497 13013.3 497 12800 497C12586.7 497 12373.3 497 12160 497C11946.7 497 11733.3 497 11520 497C11306.7 497 11093.3 497 10880 497C10666.7 497 10453.3 497 10240 497C10026.7 497 9813.33 497 9600 497C9386.67 497 9173.33 497 8960 497C8746.67 497 8533.33 497 8320 497C8106.67 497 7893.33 497 7680 497C7466.67 497 7253.33 497 7040 497C6826.67 497 6613.33 497 6400 497C6186.67 497 5973.33 497 5760 497C5546.67 497 5333.33 497 5120 497C4906.67 497 4693.33 497 4480 497C4266.67 497 4053.33 497 3840 497C3626.67 497 3413.33 497 3200 497C2986.67 497 2773.33 497 2560 497C2346.67 497 2133.33 497 1920 497C1706.67 497 1493.33 497 1280 497C1066.67 497 853.333 497 640 497C426.667 497 213.333 497 106.667 497H0V198.8Z" fill="url(#paint2_linear_16_96)"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear_16_96" x1="656.477" y1="105.067" x2="634.944" y2="447.162" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D9D9D9" stop-opacity="0.36"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint1_linear_16_96" x1="-21.0777" y1="74.2177" x2="-3.83247" y2="497.586" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D9D9D9" stop-opacity="0.06"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint2_linear_16_96" x1="1067.64" y1="497" x2="1069.9" y2="133.674" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="0.445"/>
        <stop offset="1" stop-opacity="0.25"/>
        </linearGradient>
        <clipPath id="clip0_16_96">
        <rect width="1920" height="497" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        
    <div class="flex flex-col items-center pb-20 bg-black">
        <h2 class=" text-4xl font-bold mb-10 " id="contacto">Contacto</h2>
        <div class="text-center mb-5">
            <p class="text-xl font-semibold">Mail</p>
            <a class=" font-light" href="mailto:port.treat1@gmail.com">port.treat1@gmail.com</a>
        </div>
        <div class="text-center">
            <p class="text-xl font-semibold">Instagram</p>
            <a class=" font-light" href="https://www.instagram.com/port.treat" target=”_blank”>@port.treat</a>
        </div>
    </div>


</footer>