
<header class="fixed top-0 w-full z-50  transition-all duration-700 text-lg backdrop-brightness -50 backdrop-blur-md" id="header">
    <nav>
        <ul class ="hidden lg:flex justify-between items-center mx-48 font-normal text-neutral-100">
            
            <a href="/" class="p-3 hover:text-orange-200 hover:font-bold transition-all text-orange-400 font-bold">inicio</a>
            <div class="flex gap-24">
                <a href="/#pre" class="p-3 hover:text-orange-200 hover:font-bold transition-all">pre diseñados</a>
                <a href="/personalizados" class="p-3 hover:text-orange-200 hover:font-bold transition-all">personalizados</a>
                <a href="/#FAQ" class="p-3 hover:text-orange-200 hover:font-bold transition-all">FAQ</a>
            </div>
            
            <a href="#contacto" class="p-3 hover:text-orange-200 hover:font-bold transition-all">contacto</a>
        </ul>
    </nav>
    <button class="lg:hidden group w-7 h-7 m-3">
        <div class="absolute h-[2px] w-7 bg-neutral-200 top-5 group-hover:rotate-45 group-hover:top-7 transition-all"></div>
        <div class="absolute h-[2px] w-4 bg-neutral-200 top-7 group-hover:w-0 group-hover:bg-transparent transition-all"></div>
        <div class="absolute h-[2px] w-2 bg-neutral-200 top-9 group-hover:-rotate-45 group-hover:w-7 group-hover:top-7 transition-all"></div>
    </button>

</header>

<!-- <script>
    window.onscroll = () => {
        const isScrolled = document.documentElement.scrollTop > 50;
        const header = document.getElementById("header")!
        header.classList.toggle("backdrop-brightness-50", isScrolled);
        header.classList.toggle("backdrop-blur-md", isScrolled);
    };
</script>  -->