
<header class="fixed w-full z-50 transition-all duration-700 " id="header">
    <nav>
        <ul class ="hidden lg:flex justify-center items-center gap-32 font-light">
            <a href="#inicio" class="p-3 hover:text-neutral-400 transition-all">inicio</a>
            <a href="#pre" class="p-3 hover:text-neutral-400 transition-all">pre diseñados</a>
            <a href="#personalizados" class="p-3 hover:text-neutral-400 transition-all">personalizados</a>
            <a href="#contacto" class="p-3 hover:text-neutral-400 transition-all">contacto</a>
        </ul>
    </nav>
    <button class="lg:hidden group w-7 h-7 m-3">
        <div class="absolute h-[2px] w-7 bg-neutral-200 top-5 group-hover:rotate-45 group-hover:top-7 transition-all"></div>
        <div class="absolute h-[2px] w-4 bg-neutral-200 top-7 group-hover:w-0 group-hover:bg-transparent transition-all"></div>
        <div class="absolute h-[2px] w-2 bg-neutral-200 top-9 group-hover:-rotate-45 group-hover:w-7 group-hover:top-7 transition-all"></div>
    </button>

</header>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementById("header").classList.add("backdrop-brightness-50");
        document.getElementById("header").classList.add("backdrop-blur-md");
    }
    else {
        document.getElementById("header").classList.remove("backdrop-brightness-50");
        document.getElementById("header").classList.remove("backdrop-blur-md");
    }
}
</script>
