---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
import '@fontsource-variable/outfit';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo_web2-09-09.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=" bg-gradient-to-br from-neutral-500 via-neutral-500 to-neutral-950 min-h-screen text-neutral-200 overflow-x-hidden">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	* {
		scroll-behavior: smooth;
	}

		/* width */
	::-webkit-scrollbar {
	width: 15px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.915);
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	background: rgba(77, 77, 77, 0.835); 
	border-radius: 8px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: rgba(121, 121, 121, 0.835); 
	}
	
</style>